
{% extends 'base.html' %}
{% block body_block %}


<style>
        h1 {
            font-size: 30px;
            color: red;
            text-align: center;
            }

        h2 {
            font-size: 20px;
            color: blue;
            text-align: left;
           }

        p  {       
            font-size: 15px;
            margin-right: 20px;
            text-align: left;
            }    
</style>

  <h1>Post_detail!</h1>
  	<div>
       	<h3>         
        	 {{ pos.title}}
        </h3>
       	<p> Creation date :{{ pos.date}} </p>
       	<p> {{pos.content|linebreaks}} </p>             
    </div>
{% endblock %}
